<h1 class="text-center">Importar Transações</h1>
<form action="/transacoes/importar" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="formFile" class="form-label">Selecione o arquivo para realizar o upload</label>
        <input class="form-control" type="file" id="formFile" name="upload_file">
    </div>
    <button type="submit" class="btn btn-primary">Importar</button>
</form>